html, body{
    height:100%;
    margin:0;
    display: flex;
    flex-direction: column;
    color: rgb(2, 0, 109);
  }

body{
    background-color: cyan;
}

.container-fluid{
    justify-content: center;
    padding: 4%;
}

.tabla{
    width: 80%;
}

.imagen-container{
    border: 3px solid green;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagen-container img {
    width: 80%;
}