.container-diccionario {
    border: 2.8px solid rgb(2, 0, 109);
    border-radius: 50%;
    width: 92px;
    height: 92px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    animation: rotate-center .8s
}

.container-diccionario img:hover{
    animation: rotate-center .32s

}

.container-diccionario img {
    width: 80%;
}


@keyframes rotate-center {
    0% {
        transform: rotate(0)
    }

    100% {
        transform: rotate(360deg)
    }
}