
.img-respuesta {
    width: 136px;
}

.img-pregunta {
    width: 50%;
}

ol>li {
    border: 2.0px solid rgb(2, 0, 109);
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 12px;
}

ul>li{
    padding-left: 24px;
}
ul{
    list-style-position: inherit;
    padding-left: 48px;
}
.titulo-impresion {
    color: black;
    font-size: 12px;
}



.hoja-respuestas > td{
border: 2px solid black;
border-radius: 50%;
background-color: brown;
}

.circulo-respuesta{
    font-size: 24px;
}

td{
    font-size: 24px;
    color: black;
}

.abc-choices{
    display: flex;
    flex-direction: row;
    margin-left: 80px;
}
.choice{
    border: 2px solid rgb(2, 0, 109);
    border-radius: 50%;
    font-size: 28px;
    margin: 8px;
    padding: 4px;
}

.pregunta-hoja-respuestas{
    border: none;
    font-size: 12px;
}

.numero{
    font-size: 12px;
}

#hoja-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}